
*{
    padding:auto;
    margin:auto;
    }

    body{
        background-color: #1a1a1a;
    }


    h1 {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 2.6em;
    }

    h3 {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.2em;
    }

    h4 {
        color: #DFDDDD;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.2em;
    }

.container {
    max-width: 550px;
    max-height: 779px;
    min-height: 779px;
    margin-top: 50px;
}


#watchlist__btn:hover {
    color: #8b8b8b;
}



#center__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    margin-bottom: 10px;
}


header {
    min-width: 100%;
    min-height: 208px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url("image-36.png")
}

main {
    min-width: 100%;
    min-height: 571px;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}


form {
    background: #fff;
    border: solid 1px #4B4B4B;
    width: 462px;
    height: 38px;
    display: flex;
    border-radius: 10px;
    position: relative;
    top: -590px;
}

form input {
    flex: 1;
    border: none;
    outline: none;
}

form button {
    background: #4B4B4B;
    padding: 10px 40px;
    border: solid #4B4B4B 1px;
    OUTLINE: none;
    color: #fff;
    letter-spacing: 1px; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

form button:hover {
    background: #5f5f5f;
    color: #ffffff;
}


